<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "MaCHe" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/home">Introduction</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Options" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/options">Options</a>
      </li>
   </ul>
   <h4>Basic Usage</h4>
   <ul>
      <li class="{% if page.title == "Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage">Standalone Usage</a>
      </li>
      <li class="{% if page.title == "Usage (Deploy)" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage_d">&nbsp;&nbsp;&nbsp;&nbsp;-d flag</a>
      </li>
      <li class="{% if page.title == "Usage (POM)" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage_p">&nbsp;&nbsp;&nbsp;&nbsp;-p flag</a>
      </li>
      <li class="{% if page.title == "Configuration" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/configuration">Configuration</a>
      </li>
    </ul>    
    <h4>Maven Usage</h4>
    <ul>
      <li class="{% if page.title == "Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage">Maven Usage</a>
      </li>
    </ul>
    <h4>Customization</h4>
    <ul>
      <li class="{% if page.title == "Templates" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/templates">Templates</a>
      </li>      
    </ul>
    <h4>Deployment</h4>
    <ul>
      <li class="{% if page.title == "GitHub Pages" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/github-pages">GitHub Pages</a>
      </li>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
      <li class="{% if page.title == "Contributing" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/contributing">Contributing</a>      
      </li>
    </ul>
  </aside>
</div>
