<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4 class="doctitle-small">calypso-maven-plugin</h3>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Introduction" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/home">Introduction</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/installation">Installation</a>
      </li>      
    </ul>
    <h4>Plugin Usage</h4>
    <ul>
      <li class="{% if page.title == "Plugin Intro" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/index_plugin">Plugin Introduction</a>
      </li>
      <li class="{% if page.title == "Goals Overview" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/plugin_goals">Goals Overview</a>
      </li>
      <li class="{% if page.title == "calypso:build-classpath" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/plugin_goals_build_classpath">&nbsp;&nbsp;&nbsp;&nbsp;build-classpath</a>
      </li>
      <li class="{% if page.title == "calypso:generate-properties" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/plugin_goals_generate_properties">&nbsp;&nbsp;&nbsp;&nbsp;generate-properties</a>
      </li>
      <li class="{% if page.title == "calypso:install-calypso-jars" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/plugin_goals_install_calypso_jars">&nbsp;&nbsp;&nbsp;&nbsp;install-calypso-jars</a>
      </li>
      <li class="{% if page.title == "calypso:manage" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/plugin_goals_manage">&nbsp;&nbsp;&nbsp;&nbsp;manage</a>
      </li>
      <li class="{% if page.title == "calypso:status" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/plugin_goals_status">&nbsp;&nbsp;&nbsp;&nbsp;status</a>
      </li>
      <li class="{% if page.title == "calypso:tree" %}current{% endif %}">
          <a href="{{ site.url }}/docs/calypso-maven-plugin/plugin_goals_tree">&nbsp;&nbsp;&nbsp;&nbsp;tree</a>
      </li>
    </ul>
    <h4>Archetype Usage</h4>
    <ul>
      <li class="{% if page.title == "Archetype Intro" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/index_archetype">Archetype Introduction</a>
      </li>
      <li class="{% if page.title == "Archetype Structure" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_structure">Project Structure</a>
      </li>
      <li class="{% if page.title == "Archetype Initial Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_initial">Initial Usage</a>
      </li>      
      <li class="{% if page.title == "Calypso Jar Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_install_jar">Release Installation</a>
      </li>
      <li class="{% if page.title == "Optional Modules" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_optional_modules">Optional Modules</a>
      </li>
      <li class="{% if page.title == "Optional Code" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_optional_code">Optional Code</a>
      </li>
      <li class="{% if page.title == "Project Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_project_usage">Project Usage</a>
      </li>
      <li class="{% if page.title == "Project Deployment" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_project_deployment">Project Deployment</a>
      </li>
      <li class="{% if page.title == "Process Management" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/archetype_process_management">Process Management</a>
      </li>
    </ul>
  </aside>
</div>
