<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4 class="doctitle-small">calypso-maven-plugin</h3>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Introduction" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/home">Introduction</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/calypso-maven-plugin/installation">Installation</a>
      </li>      
    </ul>          
  </aside>
</div>
