<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4 class="doctitle">MaCHe</h3>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "MaCHe" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/home">Introduction</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Options" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/options">Options</a>
      </li>
   </ul>
   <h4>Basic Usage</h4>
   <ul>
      <li class="{% if page.title == "Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage">Standalone Usage</a>
      </li>
      <li class="{% if page.title == "Usage (Deploy)" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage_d">&nbsp;&nbsp;&nbsp;&nbsp;-d flag</a>
      </li>
      <li class="{% if page.title == "Usage (POM)" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage_p">&nbsp;&nbsp;&nbsp;&nbsp;-p flag</a>
      </li>
    </ul>    
    <h4>Maven Usage</h4>
    <ul>
      <li class="{% if page.title == "Maven Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/mache/usage_maven">Maven Usage</a>
      </li>
    </ul>
  </aside>
</div>
