<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Basic Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage</a>
      </li>
      <li class="{% if page.title == "Directory structure" %}current{% endif %}">
        <a href="{{ site.url }}/docs/structure">Directory structure</a>
      </li>
      <li class="{% if page.title == "Configuration" %}current{% endif %}">
        <a href="{{ site.url }}/docs/configuration">Configuration</a>
      </li>
    </ul>    
    <h4>Customization</h4>
    <ul>
      <li class="{% if page.title == "Templates" %}current{% endif %}">
        <a href="{{ site.url }}/docs/templates">Templates</a>
      </li>      
    </ul>
    <h4>Deployment</h4>
    <ul>
      <li class="{% if page.title == "GitHub Pages" %}current{% endif %}">
        <a href="{{ site.url }}/docs/github-pages">GitHub Pages</a>
      </li>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
      <li class="{% if page.title == "Contributing" %}current{% endif %}">
        <a href="{{ site.url }}/docs/contributing">Contributing</a>      
      </li>
    </ul>
  </aside>
</div>
