---
layout: default
---

  <section class="docs">
    <div class="grid">

      <div class="unit four-fifths">
        <article>
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% unless page.intro%}
            {% include section_nav.html %}
          {% endunless %}          
        </article>
      </div>

      {% if page.project == "mache" %}
        {% include docs_contents-mache.html %}
      {% elsif page.project == "cmp" %}
        {% include docs_contents-cmp.html %}
      {% elsif page.project == "se" %}
        {% include docs_contents-se.html %}         
      {% endif %}

      <div class="clear"></div>

    </div>
  </section>
